Kevin Nguyen

STAT2600

27 Feburary 2020

Assignment 3

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
print(flights)
head(flights, 5)
tail(flights, 5)
sample_n(flights, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        9E      3393   NA      JFK    DCA  NA       213      14   55
2 NA        9E      3525   NA      LGA    SYR  NA       198      22    0
3 NA        MQ      3461   N535MQ  LGA    BNA  NA       764      12   10
4 NA        MQ      3572   N511MQ  LGA    CLE  NA       419      11   59
5 NA        MQ      3531   N839MQ  LGA    RDU  NA       431       8   40
  time_hour
1 2013-09-30 14:00:00
2 2013-09-30 22:00:00
3 2013-09-30 12:00:00
4 2013-09-30 11:00:00
5 2013-09-30 08:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    10  1854     1859           -5        2201     2225
2 2013  3     7   605      610           -5         906      925
3 2013 11     1   655      655            0        1036     1101
4 2013 11    15  1838     1840           -2        2200     2156
5 2013  7    11   821      825           -4        1055     1111
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -24       B6       171   N648JB  JFK    SMF  341      2521     18   59
2 -19       UA       797   N510UA  JFK    LAX  336      2475      6   10
3 -25       DL       315   N6708D  JFK    SJU  192      1598      6   55
4   4       DL      2139   N369NB  LGA    MIA  168      1096     18   40
5 -16       DL      1959   N727TW  JFK    MCO  122       944      8   25
  time_hour
1 2013-01-10 18:00:00
2 2013-03-07 06:00:00
3 2013-11-01 06:00:00
4 2013-11-15 18:00:00
5 2013-07-11 08:00:00

# Q1

In [3]:
flights_messy <- flights %>% 
  unite(date, year, month, day, 
        sep = "/") %>% 
  pivot_wider(names_from = origin,
              values_from = dest) %>% 
  unite(carrier_flight, carrier, flight)

write_csv(flights_messy, "flights_messy.csv")

In [4]:
print(flights_messy)
head(flights_messy, 5)
tail(flights_messy, 5)
sample_n(flights_messy, 5)

# A tibble: 336,776 x 17
   date  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
   <chr>    <int>          <int>     <dbl>    <int>          <int>     <dbl>
 1 2013…      517            515         2      830            819        11
 2 2013…      533            529         4      850            830        20
 3 2013…      542            540         2      923            850        33
 4 2013…      544            545        -1     1004           1022       -18
 5 2013…      554            600        -6      812            837       -25
 6 2013…      554            558        -4      740            728        12
 7 2013…      555            600        -5      913            854        19
 8 2013…      557            600        -3      709            723       -14
 9 2013…      557            600        -3      838            846        -8
10 2013…      558            600        -2      753            745         8
# … with 336,766 more rows, and 10 more variables: carrier_flight <chr>,
#   tailnum <chr>, air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>, EWR <chr>, LGA <chr>, JFK <chr>

  date     dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/1 517      515             2         830      819            11
2 2013/1/1 533      529             4         850      830            20
3 2013/1/1 542      540             2         923      850            33
4 2013/1/1 544      545            -1        1004     1022           -18
5 2013/1/1 554      600            -6         812      837           -25
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 UA_1545        N14228  227      1400     5    15     2013-01-01 05:00:00 IAH
2 UA_1714        N24211  227      1416     5    29     2013-01-01 05:00:00 NA
3 AA_1141        N619AA  160      1089     5    40     2013-01-01 05:00:00 NA
4 B6_725         N804JB  183      1576     5    45     2013-01-01 05:00:00 NA
5 DL_461         N668DN  116       762     6     0     2013-01-01 06:00:00 NA
  LGA JFK
1 NA  NA
2 IAH NA
3 NA  MIA
4 NA  BQN
5 ATL NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/9/30 NA       1455           NA        NA       1634           NA
2 2013/9/30 NA       2200           NA        NA       2312           NA
3 2013/9/30 NA       1210           NA        NA       1330           NA
4 2013/9/30 NA       1159           NA        NA       1344           NA
5 2013/9/30 NA        840           NA        NA       1020           NA
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 9E_3393        NA      NA       213      14   55     2013-09-30 14:00:00 NA
2 9E_3525        NA      NA       198      22    0     2013-09-30 22:00:00 NA
3 MQ_3461        N535MQ  NA       764      12   10     2013-09-30 12:00:00 NA
4 MQ_3572        N511MQ  NA       419      11   59     2013-09-30 11:00:00 NA
5 MQ_3531        N839MQ  NA       431       8   40     2013-09-30 08:00:00 NA
  LGA JFK
1 NA  DCA
2 SYR NA
3 BNA NA
4 CLE NA
5 RDU NA

  date       dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013/10/7   755      800            -5        949     1005
2 2013/6/6   1546     1545             1       1848     1910
3 2013/3/14   810      815            -5       1014     1015
4 2013/11/10 2149     2159           -10       2245     2301
5 2013/5/15  1206     1210            -4       1505     1510
  arr_delay carrier_flight tailnum air_time distance hour minute
1 -16       9E_3353        N901XJ   82       509      8    0
2 -22       AA_133         N328AA  331      2475     15   45
3  -1       US_675         N651AW   91       529      8   15
4 -16       EV_4194        N13903   38       143     21   59
5  -5       B6_143         N629JB  152      1074     12   10
  time_hour           EWR LGA JFK
1 2013-10-07 08:00:00 NA  NA  DTW
2 2013-06-06 15:00:00 NA  NA  LAX
3 2013-03-14 08:00:00 CLT NA  NA
4 2013-11-10 21:00:00 ALB NA  NA
5 2013-05-15 12:00:00 NA  NA  RSW

# Q2

In [7]:
flights_tidy <- read_csv("flights_messy.csv") %>% 
  separate(date, 
           into = c("year", "month", "day")) %>% 
  pivot_longer(c("EWR", "LGA", "JFK"),
               names_to = "origin", 
               values_to = "dest",
               values_drop_na = TRUE) %>%  
  separate(carrier_flight,
           into = c("carrier", "flight")) %>% 
  mutate(day = as.integer(day), 
         month = as.integer(month), 
         year = as.integer(year),
         dep_time = as.integer(dep_time),
         sched_dep_time = as.integer(sched_dep_time),
         arr_time = as.integer(arr_time),
         sched_arr_time = as.integer(sched_arr_time),
         flight = as.integer(flight))

Parsed with column specification:
cols(
  date = col_character(),
  dep_time = col_double(),
  sched_dep_time = col_double(),
  dep_delay = col_double(),
  arr_time = col_double(),
  sched_arr_time = col_double(),
  arr_delay = col_double(),
  carrier_flight = col_character(),
  tailnum = col_character(),
  air_time = col_double(),
  distance = col_double(),
  hour = col_double(),
  minute = col_double(),
  time_hour = col_datetime(format = ""),
  EWR = col_character(),
  LGA = col_character(),
  JFK = col_character()
)

In [8]:
print(flights_tidy)
head(flights_tidy, 5)
tail(flights_tidy, 5)
sample_n(flights_tidy, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, origin <chr>, dest <chr>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum air_time distance hour minute
1  11       UA      1545   N14228  227      1400     5    15
2  20       UA      1714   N24211  227      1416     5    29
3  33       AA      1141   N619AA  160      1089     5    40
4 -18       B6       725   N804JB  183      1576     5    45
5 -25       DL       461   N668DN  116       762     6     0
  time_hour           origin dest
1 2013-01-01 10:00:00 EWR    IAH
2 2013-01-01 10:00:00 LGA    IAH
3 2013-01-01 10:00:00 JFK    MIA
4 2013-01-01 10:00:00 JFK    BQN
5 2013-01-01 11:00:00 LGA    ATL

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum air_time distance hour minute
1 NA        9E      3393   NA      NA       213      14   55
2 NA        9E      3525   NA      NA       198      22    0
3 NA        MQ      3461   N535MQ  NA       764      12   10
4 NA        MQ      3572   N511MQ  NA       419      11   59
5 NA        MQ      3531   N839MQ  NA       431       8   40
  time_hour           origin dest
1 2013-09-30 18:00:00 JFK    DCA
2 2013-10-01 02:00:00 LGA    SYR
3 2013-09-30 16:00:00 LGA    BNA
4 2013-09-30 15:00:00 LGA    CLE
5 2013-09-30 12:00:00 LGA    RDU

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 2      7  1027     1030           -3        1208     1215
2 2013 3     26  1349     1350           -1        1552     1615
3 2013 3     28  1155     1200           -5        1449     1510
4 2013 3      8    NA     1930           NA          NA     2115
5 2013 6     11  1944     1859           45        2057     2036
  arr_delay carrier flight tailnum air_time distance hour minute
1  -7       MQ      4471   N713MQ   75       431     10   30
2 -23       US       186   N659AW  283      2133     13   50
3 -21       AA         3   N338AA  332      2475     12    0
4  NA       EV      4126   N29906   NA       419     19   30
5  21       UA       693   N466UA  110       733     18   59
  time_hour           origin dest
1 2013-02-07 15:00:00 LGA    RDU
2 2013-03-26 17:00:00 EWR    PHX
3 2013-03-28 16:00:00 JFK    LAX
4 2013-03-09 00:00:00 LGA    CLE
5 2013-06-11 22:00:00 LGA    ORD